In [6]:
import pandas as pd
import numpy as np

In [7]:
# 读取自定义数据
df = pd.DataFrame(
    {'A':[1,2,3,4],
     'B':[5,6,7,8],
     'C':[9,10,11,12]})

In [8]:
df

   A  B   C
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12

In [16]:
# 显示前n条数据
df = pd.read_csv('./test.csv')
df.head(3)

  Month  Sales
0  1-01    4.6
1  1-02    5.9
2  1-03    3.1

In [17]:
# 增加判断条件,修改数据
#df.loc[df.Month < '1-06','Sales'] = 1
df.head(5)

  Month  Sales
0  1-01    4.6
1  1-02    5.9
2  1-03    3.1
3  1-04    9.3
4  1-05   10.3

In [28]:
# df.shape方法对数据进行移动的操作
df_tmp = df.iloc[1:5]
df_tmp

  Month  Sales
1  1-02    5.9
2  1-03    3.1
3  1-04    9.3
4  1-05   10.3

In [35]:
# shift就是往上移和往下移动
df_tmp['pred'] = df_tmp[['Sales']].shift(2)
df_tmp

  Month  Sales  pred
1  1-02    5.9   NaN
2  1-03    3.1   NaN
3  1-04    9.3   5.9
4  1-05   10.3   3.1